#root {
  max-width: 100vw;
  margin: 0;
  text-align: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 75em) {
    html {
      font-size: 59%;
    }
  }

  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56%;
    }
  }

  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 65%;
    }
  }

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Barlow', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button:focus,
a:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%;
}

.sec-pad {
  padding: 12rem 0;
}

@media only screen and (max-width: 56.25em) {
  .sec-pad {
    padding: 8rem 0;
  }
}

.d-none {
  display: none;
}

.about__content-details-para--hl {
  font-weight: 700;
  margin: 0 3px;
}

  .mouse::before {
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
  }

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}